@import "tailwindcss";

.arizonia{
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
}



.dancing-script{
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-style: normal;
}


.noto-serif{
  font-family: "Noto Serif", serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
}
.archivo{
  font-family: "Archivo Black", sans-serif;
  font-weight: 40;
  font-style: normal;
}
.poppins{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.poppins1{
  font-family: "Poppins", sans-serif;
  font-style: normal;
}
.poppins2{
  font-family: "Poppins", sans-serif;
  font-weight: 0;
  font-style: normal;
}

.oswald{
  font-family: "Oswald", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.playfair{
  font-family: "Playfair Display", serif;
  font-optical-sizing: auto;
  font-style: normal;
}